.sts-action-area {
  border: 1px solid lightgray;
  border-radius: 2px;
  padding: 10px;
}

.sts-action-btn-area {
  width: 60%;
  margin: auto;
}

.sts-title{
  color: #3aa3e3;
}  

.sts-row {
  /*text-align: center;*/
}

.sts-col {
  display: inline-block;
  width: 49%;
  text-align: left;
}

.select-all-label {
  cursor: pointer;
}

.selected-files p {
  font-size: 16px;
}

#deleteFiles, #deleteSelectedFiles {
  background: #eb4d5c;
  padding: 6px;
}

#deleteLast {
  width: 95%;
  padding: 5px;
  font-size: 16px;
}

.sts-select {
  position: absolute;
  left: -30px;
  top: 25px;
  cursor: pointer;
}

.sts-select-span{
  padding: 5px;
}

.delete-indicator{
  font-size: 18px;
  font-weight: bold;
  color: red;
  text-align: center;
  position: absolute;
  left: 50%;
}

#filesInBucket {
  color: red;
  font-weight: bold;
}